node.element {
	size: 25px, 25px;
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1;
	text-alignment: under;
}

node.transition {
	fill-color: yellow;
	shape: box;
}

node.place {
	fill-color: green;
	shape: circle;
}

edge.arc {
	arrow-shape: arrow;
}